@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Montserrat:wght@500&family=Roboto:wght@400;700&display=swap');

* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

.background-image {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../images/wallpaper-01.jpeg);
  background-size:  cover;
  background-position: center;
  background-repeat: repeat;
  

}

li, a, button {
  font-family: "Montressat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-decoration: none;

}


header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;

}

.nav_links {
  list-style-type: none;
  margin-left: 20px;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;

}

.nav_links li a:hover {
  color: rgb(187, 132, 238);
 

}

.nav_links li a:active {
  opacity: 0.7;
}

button {
  margin-left: 12px;
  padding: 9px 25px;
  background-color: rgba(149, 87, 188, 0.6);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  
}

button:hover {
  background-color: rgba(149, 87, 188, 0.9);
}

.content {

  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
}

.content h1, {
  font-size: 70px;
  margin-top: 80px;
  font-family: Arial;
}


